
body{
 
  margin:0;
  font-size:16px;
  font-family:"Lato", sans-serif;
  font-weight:400;
 
  color:#666;
 
}
.center{
position:absolute;
top: 40%;
left: 40%;
  
  padding: 25px;
  background: gray;
  text-align:center;
  color:ghostwhite;
  font-size:30px;
  letter-spacing:8px;
  text-transform:uppercase;
  
}button{
  background: hotpink;
  color: blue;
}
.container{
	display:grid;
	grid-gap: 10px 10px;
	padding: 5px;	
}



p{
	text-align: center;
	font-size: 27px;
}





