header{
	display: flex;
	justify-content: safe center;
	color:black;
	font-size: 40px;text-align: center;
	padding:  50px ;
	margin: 0px;
	background: turquoise;
	
}
#Profile{
	color:black;
	font-size: 20px;

}
.column{
	display: flex;
	color: pink;
	justify-content:space-evenly;
	background: gray;
	margin: 2px 200px 1px 1px;
}
<*body{
	background:burlywood;
}*>
