body{
color: black;
}
.weather{
	
	background: grey;
	height: 300px;
	width: 400px;
}
.city{
	position: relative;
	padding: 5px 40px;
	text-transform: capitalize;
	margin: 0;
}
.desc-card{
	display: flex;
	align-items: center;
	text-transform: capitalize;
}
.current-date{
	color: black;
	z-index: 1000;
}
.icon{
	height: 90px;
	width: 70px;
	
}